POSTGRES_DB=The jdbc url to the database
POSTGRES_USER=the database username
POSTGRES_PASSWORD=the database password
PGDATA=where in the container the db data is stored

APP_JWT_SECRET=A random 32 character string of chars used to create jwt tokens
APP_URL=The url of the application
SPRING_MAIL_USERNAME=The gmail login username
SPRING_MAIL_PASSWORD=The gmail login password
SPRING_SMTP_FROM=The email to show in the from field

