SPRING_DATASOURCE_URL=the jdbc url to the database
SPRING_DATASOURCE_USERNAME=the account name
SPRING_DATASOURCE_PASSWORD=the account password

SPRING_MAIL_USERNAME=The login username
SPRING_MAIL_PASSWORD=The login password

APP_DATA_DIR=The folder where the data will be stored.

APP_SMTP_USER=Your gmail address
APP_SMTP_PASS=Your google app password
APP_SMTP_FROM=The email to show in the from field

NEXT_PUBLIC_APP_URL=The full URL of the app (e.g. https://equipment.woods.local)
