
APP_USERNAME=The login username
APP_PASSWORD=The login password

APP_DATA_DIR=The folder where the data will be stored.

APP_SMTP_USER=Your gmail address
APP_SMTP_PASS=Your google app password
APP_SMTP_FROM=The email to show in the from field

NEXT_PUBLIC_APP_URL
