POSTGRES_DB=The jdbc url to the database
POSTGRES_USER=the database username
POSTGRES_PASSWORD=the database password
PGDATA=where in the container the db data is stored

SPRING_DATASOURCE_URL=the jdbc url to the database
SPRING_DATASOURCE_USERNAME=the database username
SPRING_DATASOURCE_PASSWORD=the database password

APP_JWT_SECRET=A random 32 character string of chars used to create jwt tokens

SPRING_MAIL_USERNAME=The gmail login username
SPRING_MAIL_PASSWORD=The gmail login password
APP_SMTP_FROM=The email to show in the from field

DOCKER_USERNAME=The docker hub username used to deploy images
DOCKER_PASSWORD=The docker hub password used to deploy iamges
