# postgres connection
POSTGRES_DB=jdbc:postgresql://postgres:5432/equipment
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me
PGDATA=/var/lib/postgresql/18/docker

# SMTP / Email
SPRING_MAIL_USERNAME=you@example.com
SPRING_MAIL_PASSWORD=change-me
APP_SMTP_USER=you@example.com
APP_SMTP_PASS=change-me
APP_SMTP_FROM=you@example.com
APP_URL=https://localhost.com

# JWT
APP_JWT_SECRET=change-me-generate-a-long-random-string
APP_JWT_EXPIRATION_MS=3600000

# false for development, true for production
APP_COOKIE_SECURE=false

# Caddy (TLS termination)
CADDY_DOMAIN=example.com
CADDY_EMAIL=you@example.com
